

		<div class="container">

			<!-- Static navbar -->
			<nav class="navbar navbar-default" style="margin-top: 20px;">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Neuromed</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li ><a href="#/inicioDoctor/{{idDoctor}}">Pacientes</a></li> <!--class="active"-->
							<li class="dropdown">
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li class="dropdown-header">Nav header</li>
									<li><a href="#">Separated link</a></li>
									<li><a href="#">One more separated link</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
                            <li><a href="#/actualizarDatos/{{idDoctor}}">Dr. {{medico.nombre}} <span class="sr-only">(current)</span></a></li>
							<li><a href="../navbar-fixed-top/">Cerrar Sesion</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div><!--/.container-fluid -->
			</nav>

			<!-- Main component for a primary marketing message or call to action -->

			<h1>{{paciente.nombre}} {{paciente.apellido}}</h1>
			<hr>

			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Informaci&oacute;n del paciente</h3>
						</div>
						<div class="panel-body">
							<img src="http://placehold.it/500x500" class="img-responsive">
						</div>
						<div class="panel-footer">
							<p>Nombre: {{paciente.nombre}}</p>
							<p>G&eacute;nero: {{paciente.genero}}</p>
							<p>&Uacute;ltimo registro: {{paciente.fechaVinculacion}}</p>
							<p>RH: A+</p>
							<p>Peso: 120 kg</p>
							<p>Altura: 1.73 m</p>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Resumen del paciente</h3>
						</div>
						<div class="panel-body">
							<br>
							<br>
							<br>
                            <div id="grafico" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
							<br>
							<br>
							<br>
						</div>
						<div class="panel-footer">
							Informaci&oacute;n del cuadro
						</div>
					</div>
				</div>
			</div>




            <!--<div
                     data-ac-chart="line"
                     data-ac-data="data"
                     data-ac-config="config"
                     class="chart"
                     >
             </div>-->




			<div class="row">
				<div class="col-md-12">
					<p>
                    <div class="row">
                         <h1 class="col-md-4">Cuadros Registrados</h1>

                </div>
                        </br>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="input-group row">
                                <input type="text" class="form-control" placeholder="Filtrar" ng-model="busqueda">
                            </div>

                        </div>
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control" id="datepicker1" placeholder="dd/mm/aaaa-dd/mm/aaaa"  ng-model="fechaI">
                            <input type="text" class="form-control" id="datepicker2" placeholder="dd/mm/aaaa-dd/mm/aaaa"  ng-model="fechaF">
							    <span class="input-group-btn">
								    <button class="btn btn-default" ng-click="buscarRangoFecha()" type="button">Buscar</button>
							    </span>
                        </div>
                    </div>
					</p>
					<div class="bs-example" data-example-id="collapse-accordion">

							<div class="panel panel-default" ng-repeat="ep in paciente.episodios | filter:busqueda">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
											{{ep.fecha}}
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree" aria-expanded="true" style="" >
									<div class="panel-body">
                                        <p> Nivel de dolor: {{ep.nivelDolor}}</p>
                                        <p> Ubicacion: Lobulo {{ep.localizacion}}</p>
                                        <p> Doctor: {{ep.doctor}}</p>
                                        <p> Causas:</p>
                                            <p ng-repeat="causas in ep.causas">- {{causas}}</p>
                                        <p> Medicamentos:</p>
                                            <p ng-repeat="medicamentos in ep.medicamentos">- {{medicamentos}}</p>
                                        <p> Patrones de sueño: </p>
                                            <p ng-repeat="patrones in ep.patronesDeSueno">- {{patrones}}</p>
                                        <p>Comentarios del doctor:  </p>
                                           <p ng-repeat="comentario in ep.comentarios">&nbsp;&nbsp;&nbsp;&nbsp;- {{comentario.contenido}}</p>

                                        <!--<audio controls preload="none" style="width:480px;">
                                            <source ng-src="{{ep.grabacion}}" type="audio/mp4" />
                                            <p>Your browser does not support HTML5 audio.</p>
                                        </audio>-->
									</div>
								</div>
                                <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Comentar"  ng-model="comentario">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="comentar(ep.id,comentario)" type="button">Comentar</button>
                                        </span>
                                        <select class="form-control" ng-model="medico" ng-options="medico.nombre for medico in medicos">
                                            <option value="">Seleccione un medico</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="pedirSegundaOpinion(ep.id,medico.id)" type="button">Segunda Opinion</button>
                                        </span>
                                </div>
                                <!--<div class="input-group">
                                    <select class="form-control" ng-model="medico" ng-options="medico.nombre for medico in medicos">
                                        <option value="">Seleccione un medico</option>
                                    </select>
							    <span class="input-group-btn">
								    <button class="btn btn-default" ng-click="pedirSegundaOpinion(ep.id,medico.id)" type="button">Segunda Opinion</button>
							    </span>
                                </div>-->
							</div>
					</div>


                    <!---->

                    <!---->


					</div>
				</div>
			</div>
		</div>


        <script>
            $(function() {
                $( "#datepicker1" ).datepicker();
            });
            $(function() {
                $( "#datepicker2" ).datepicker();
            });
        </script>
