<link href="css/stylesVistaPaciente.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/jquery.datepick.css">


<div ng-controller="segundasOpinionesCont">


    <!-- navbar -->
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/inicioDoctorPacientes/{{id}}" style="color:white;">Neuromed</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white;">Dr. {{medico.nombre}} {{medico.apellido}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Segundas Opiniones</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Actualizar informacion</a></li>
                            <li><a href="#">Cerrar Sesion</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="col-sm-10 col-sm-offset-2 no-padding wrapper">



        <!--VISTA EPISODIOS -->
        <div ng-if="vistaActual==2" id="episodio">
            <div class="col-sm-2 panel panel-default notebook">
                <div>
                    <form class="form-inline" role="search">

                        <div class="form-group">
                            <label for="selectfecha">Fecha</label>
                            <input type="text" class="form-control" id="selectfecha" placeholder="Fecha" ng-model="fechas.fechaPicker">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success" ng-click="buscarRangoFecha()"><li class="fa fa-search"></li></button>
                            <button type="submit" class="btn btn-danger" ng-click="restaurarEpisodios()"><li class="fa fa-trash"></li></button>
                        </div>

                    </form>
                </div>
                <ul class="no-padding" >
                    <li class="col-xs-12 no-padding" ng-repeat="episodio in episodios | filter:query | orderBy: orderList" ng-click="cambiarEpisodioActual(episodio.id)">
                        <strong>Fecha:</strong> {{episodio.fecha}}
                        <br/> <strong>Intensidad:</strong> {{episodio.nivelDolor}}
                    </li>
                </ul>
                <div class="panel-footer">
                    <small><strong> # de episodios:</strong> {{episodios.length}}</small>
                </div>

            </div>
            <div class="col-sm-10 col-sm-offset-2 info-episodio">
                <div class='panel-informacion'>
                    <div class="panel-body no-padding">
                        <div class="col-sm-12">
                            <div class="row">
                                <h2 class="col-sm-5 episodio-title">Fecha: {{episodioActual.fecha}}</h2>
                            </div>
                        </div>
                        <div class="col-sm-12 basic-info">
                            <div class="col-sm-4 brain-container">
                                <img src="components/resources/brain/brain.svg" class="img-responsive brain-base">
                                <img  ng-src="components/resources/brain/{{rutaImagenCerebro}}.png" ng-class="cssImagen" class="img-responsive brain">
                            </div>
                            <div class="col-sm-4">
                                <div class="meter-container">
                                    <h4>Dolor</h4>
                                    <div aria-hidden="true" class="meterBackground row">
                                        <div aria-hidden="true" class="meterBar">
                                            <label class="progressValue">
                                                <span class="progressNumber"></span>
                                                <meter max="10" value="{{episodioActual.nivelDolor}}" class="leaseMeter"></meter>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4> <i class="fa fa-medkit"></i> Causas</h4>
                                </div>
                                <div class="panel-body">
                                    <p ng-repeat="causa in episodioActual.causas">- {{causa.tipo}}: {{causa.titulo}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4> <i class="fa fa-medkit"></i> Medicamentos</h4>
                                </div>
                                <div class="panel-body">
                                    <p ng-repeat="medicamento in episodioActual.medicamentos">- {{medicamento.marca}}: {{medicamento.titulo}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4> <i class="fa fa-medkit"></i> Patrones de sueño</h4>
                                </div>
                                <div class="panel-body">
                                    <p ng-repeat="patronDeSueno in episodioActual.patronesDeSueno">- {{patronDeSueno.inicio}} a {{patronDeSueno.fin}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <audio controls preload="none" style="width:100%">
                        <source ng-src="{{ep.grabacion}}" type="audio/mp4" />
                        <p>Your browser does not support HTML5 audio.</p>
                    </audio>
                </div>
                <h2 class="col-sm-5 episodio-title">Comentarios</h2>
                <div class='panel-comentarios'>
                    <div class="comment-wrap col-sm-12">
                        <div class="photo col-sm-1">
                            <img src="http://lorempixel.com/60/60/people/9" class='avatar'>
                        </div>
                        <div class="comment-block col-sm-11">
                            <form id="comment-form">
                                <textarea placeholder="Agregar comentario" ng-model="comentarioIngresado"></textarea>
                                <button type="submit" class="btn" style="background-color:#2EB8E6;" ng-click="comentar(episodioActual.id,comentarioIngresado)">Comentar</button>
                            </form>
                        </div>
                    </div>

                    <div class="comment-wrap col-sm-12" ng-repeat="comentario in episodioActual.comentarios">
                        <div class="photo col-sm-1">
                            <img src="http://lorempixel.com/60/60/people/9" class='avatar'>
                        </div>
                        <div class="comment-block col-sm-10">
                            <p class="comment-text">{{comentario.contenido}}</p>
                            <div class="bottom-comment">
                                <div class="comment-date"><strong> {{comentario.doctorNombre}}</strong> - {{comentario.fecha}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--FIN VISTA EPISODIOS -->


</div>


</div>

<script type="text/javascript" src="js/jquery.plugin.js"></script>
<script type="text/javascript" src="js/jquery.datepick.js"></script>
<script type="text/javascript" src="js/jquery.datepick-es.js"></script>
<script type="text/javascript" src="js/jquery.datepick.ext.js"></script>
<script type="text/javascript" src="js/meter.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(document).ready(function() {
        $('.pickerMultiple').datepick({
            renderer: $.datepick.weekOfYearRenderer,
            firstDay: 1,
            showOtherMonths: true,
            rangeSelect: true,
            onShow: $.datepick.selectWeek,
            onDate: $.datepick.noWeekends,
            dateFormat: 'mm-dd-yyyy',
            rangeSeparator: ' : ',
            onClose: function(){
                alert("mensaje sirvio");
            }
        });
    });
    $('#comment-text').keypress(function(e){
        if(e.keyCode == 13 && !e.shiftKey) {
            e.preventDefault();
            alert("ejecutar accion de enter de comentario");
        }
    });
</script>