<div class="container" ng-controller="actualizarCont">

      <form class="form-signin">
        <h2 class="form-signin-heading">Actualizar Datos de {{medico.nombre}} {{medico.apellido}}</h2>
          <label for="inputEmail" class="sr-only">Usuario</label>
          <input type="text" id="inputEmail" class="form-control" placeholder="Usuario" ng-required="" ng-model="mail" autofocus="">

          <label for="inputPassword" class="sr-only">Constraseña</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Palabra clave" required="" ng-model="contrasenia">
          </br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="error || incomplete" ng-click="update()">Actualizar</button>
          </br>
          <a href="#/inicioDoctor/{{id}}" class="btn btn-lg btn-primary btn-block">Cancelar</a>
      </form>
</div>
